In [2]:
import pandas as pd
import numpy as np
import missingno as msno

In [3]:
data = pd.read_html("https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/",header=0)

In [4]:
data[0].columns = ["POZ", "TYTUŁ", "ARTYSTA", "ROK", "MAX POZ"]

In [5]:
data[0].to_csv("Full_note.csv", index=True) #tylko tak testowo jak wygląda

In [6]:
n = data[0]["ARTYSTA"].nunique()
f'Na liście znajduje się {n} pojedyńczych artystów'

'Na liście znajduje się 47 pojedyńczych artystów'

In [12]:
most_freq_art = pd.DataFrame(data[0].value_counts("ARTYSTA", normalize=False))
m = most_freq_art.max().iloc[0]
top_art = most_freq_art.loc[most_freq_art["count"] == m]
'Najczęściej na liście pojawiają się:', top_art

('Najczęściej na liści pojawiają się:',
            count
 ARTYSTA
 COLDPLAY       3
 TAKE THAT      3)

In [8]:
df = data[0].rename(str.title, axis=1).drop(["Max Poz"], axis=1)
year_prod = df.groupby(df["Rok"]).Tytuł.agg(["count"])
'Najwięcej albumów na liście jest z:',year_prod[year_prod == year_prod.max()].dropna()

('Najwięcej albumów na liście jest z:',
       count
 Rok
 1987    4.0
 2000    4.0)

In [9]:
df.sort_values(by="Rok").drop_duplicates(subset=["Artysta"]).drop(["Poz"], axis=1).to_csv("Albums_note.csv", index=False)

In [10]:
youngest_album_year = df["Rok"].max()
"Najpóźniej wydany album na liście jest z roku:", youngest_album_year

('Najpóźniej wydany album na liście jest z roku:', 2015)

In [11]:
data_1960_1990 = df[(df.Rok >= 1960) & (df.Rok <= 1990)]["Poz"].nunique()
f"Na liście znajdują się: {data_1960_1990} albumy wydane w latach 1960-1990"

'Na liście znajdują się: 22 albumy wydane w latach 1960-1990'